.snackbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left:10%;
  margin-right:10%;
  margin-top:100%;
  text-align: center;
  z-index:9;
  position: fixed;
	font-size: 250%;
  width:80%;
  height:auto;
  background: #333;
	color: #ffffff;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: ease-in-out 0.5s;
}

.show_snackbar {
  margin-top : 50%;
}